@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&family=Montserrat&display=swap');

:root {
    --branco-principal: #FFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
    --titulo: 48px;
    --texto: 16px;
    --peso-titulo: 700;
    --peso-texto: 100;
    --width-texto: 588px;
}

body {
    display: flex;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.conteudo {
    background-image: url(./img/background-plano.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.plano__apresentacao__sessao1 {
    margin: 160px 0 0 95px;
}

.plano__apresentacao__sessao1__texto1 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
}

.plano__apresentacao__sessao2 {
    margin: 0 0 0 115px;
}

.plano__apresentacao__sessao2__texto2 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;    
}

.plano__apresentacao__sessao3 {
    margin: 0 0 0 410px;
}

.plano__apresentacao__sessao3__texto3 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
}

.plano__combo {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 293px;
    width: 46%;
}

.plano__combo__frase1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 400;
}

strong {
    color: #EC2F46;
}

.plano__combo__frase2 {
    font-family: 'Inter', sans-serif;
    font-size: 82px;
    font-weight: 900;
}

.teste {
    box-sizing: border-box;
    position: absolute;
    width: 441px;
    height: 78px;
    left: 346px;
    top: 269px;
    border-right: 1px solid #EC2F46;
    border-left: 1px solid #FFF;
    border-radius: 90px;
    margin: 87px 0 0 -85px;
}

.plano__assinatura {
    display: flex;
    flex-direction: column ;
    margin: 60px 0 0 91px;
    text-align: center;
}

.plano__assinatura__button1 {
    display: flex;
    padding: 16px;
    width: 680px;
    background-color: var(--botao-azul);
    color: #FFF;
    border-radius: 8px;
    justify-content: center;
}

.plano__assinatura__button2 {
    display: flex;
    margin: 16px 0 10px 0;
    padding: 16px;
    width: 680px;
    border: 1px solid var(--branco-principal);
    color: #FFF;
    border-radius: 8px;
    justify-content: center;
}

.plano__assinatura__obs {
    display: flex;
    margin: 0 0 0 12.5%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 380px;
}

.grupo2 {
    margin: 350px 0 0 165px;
}

.grupo2__sessao {
    display: flex;
}

.grupo2__sessao__informacao {
    margin: 200px 0 0 350px;
}

.grupo2__sessao__informacao__titulo {
    margin: 0 0 8px 0;
    font-family: 'Inter', sans-serif;
    font-size: var(--titulo);
    font-weight: 700;
}

.grupo2__sessao__informacao__texto {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 588px;
}

.grupo3 {
    display: flex;
    margin: 153px 0 220px 0;
}

.grupo3__informacao {
    margin: 100px 110px 0 300px;
    font-family: 'Inter', sans-serif;
    font-size: var(--texto);
    font-weight: 400;
    width: 588px;
}

.grupo3__informacao__button {
    margin: 16px 0 0 0;
    padding: 16px;
    background-color: var(--botao-azul);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--branco-principal);
    text-align: center;
    width: 163px;
    border-radius: 8px;
}

.grupo3__imagem {
    margin: 0 0 0 0px;
}

.grupo4 {
    display: flex;
    margin: 0 0 0 141px;
}

.grupo4__sessao {
    margin: 100px 0 0 350px;
}

.grupo4__sessao__titulo {
    font-family: var(--fonte-principal);
    font-size: var(--titulo);
    font-weight: var(--peso-titulo);
}

.grupo4__sessao__texto {
    margin: 8px 0 0 0;
    font-family: var(--fonte-principal);
    font-size: var(--texto);
    font-weight: var(--peso-texto);
    line-height: 24px;
    width: var(--width-texto);
}

.grupo5 {
    display: flex;
    flex-direction: column;
    margin: 264px 0 0 0;
    align-items: center;
}

.grupo5__titulo {
    font-family: var(--fonte-principal);
    font-size: var(--titulo);
    font-weight: var(--peso-titulo);
    text-align: center;   
}

.grupo5__plataformas {
    display: flex;
    margin: 40px 0 16px 0;
}

.grupo5__informacao {
    display: flex;
    flex-direction: row;
}

.grupo5__plataformas__texto {
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: var(--peso-titulo);
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.rodape__teste {
    padding: 0 0 100px 0;
}

.rodape__alura {
    font-family: var(--fonte-principal);
    font-size: var(--titulo);
    font-weight: var(--peso-texto);
    text-align: center;
}

.rodape__grupo {
    display: flex;
    padding: 0 0 24px 0;
    gap: 16px;
}

.rodape__grupo__texto {
    font-family: var(--fonte-principal);
    font-size: var(--texto);
    font-weight: var(--peso-texto);
    color: var(--branco-principal);
}

.rodape__copyright {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: var(--peso-texto);
    line-height: 21px;
    gap: 20px;
}

@media (max-width: 1200px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }
}